{
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "parserOptions": {
    "project": "./eslint.tsconfig.json"
  },
  "env": {
    "node": true,
    "es6": true
  },
  "rules": {
    "eqeqeq": ["error", "smart"],
    "@typescript-eslint/indent": ["error", 2, { "SwitchCase": 1 }],
    "no-constant-condition": "off",
    "no-redeclare": "off",
    "@typescript-eslint/no-redeclare": ["error"],
    "no-underscore-dangle": "off",
    "no-use-before-define": "off",
    "@typescript-eslint/no-use-before-define": [
      "warn",
      {
        "functions": false,
        "typedefs": false
      }
    ],
    "quotes": ["error", "single"],
    "space-before-blocks": "error"
  }
}
