{
  "env": {
    "node": true
  },
  "rules": {
    "eqeqeq": [2, "smart"],
    "curly": [2, "multi-line"],
    "no-constant-condition": false,
    "no-redeclare": 1,
    "no-shadow": 1,
    "no-underscore-dangle": false,
    "no-use-before-define": [true,"nofunc"],
    "quotes": [2, "single"],
    "space-before-blocks": 2,
    "strict": 2
  }
}
